body {
  background-color: #faf5df;
}

h1 {
  font-size: 3rem;
}

.container {
  margin: auto;
  max-width: 70%;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.img {
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition-duration: 1s;
}

.img img {
  max-width: 80%;
}

.section {
  border-top: 0.1rem solid gray;
}

.section:focus .img {
  max-height: 100vh;
}

.icon {
  visibility: hidden;
}

.section:focus .icon {
  transform: rotate(90deg);
}

@media (hover: hover) {
  .container {
    cursor: pointer;
  }

  .section:hover .img {
    max-height: 100vh;
  }

  .section:hover .icon {
    transform: rotate(90deg);
  }

  .container:hover .icon {
    visibility: visible;
    transition-duration: 0.5s;
  }
}

@media not (hover: hover) {
  .container .icon {
    visibility: visible;
  }
}

@media (max-width: 819px) {
  .container {
    max-width: 90%;
  }
  h1 {
    font-size: 1.5rem;
  }
  .header {
    font-size: 1rem;
  }
}

@media (min-width: 820px) and (max-width: 1023px) {
  .container {
    max-width: 80%;
  }
  h1 {
    font-size: 2rem;
  }
  .header {
    font-size: 1.5rem;
  }
}
