body {
  background-color: #faf5df;
}

.container {
  margin: auto;
  max-width: 70%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.img {
  text-align: center;
  max-width: 0;
}

img {
  max-width: 80%;
}

.section:focus .img {
  max-width: 100vh;
}

@media (hover: hover) {
  .container {
    cursor: pointer;
  }

  .section:hover .img {
    max-width: 100vh;
  }
}
